# Exploring Baseball Data Using SQL

In this notebook, we provide an environment to explore historical MLB data.

## Connecting to the Database

Just run the following cell to connect to the database.

In [ ]:
%defaultDatasource jdbc:sqlite:baseball.db

## Some Sample Code

Let's check out the first 10 rows of the `pitching` table.

In [ ]:
SELECT * FROM pitching LIMIT 10;

We can also look at the first 10 rows of the `batting` table.

In [ ]:
SELECT * FROM batting LIMIT 10;