# Exploring Baseball Data Using SQL

In this notebook, we provide an environment to explore historical MLB data.

## Connecting to the Database

Just run the following cell to connect to the database.

In [ ]:
%defaultDatasource jdbc:sqlite:baseball.db

## Some Sample Code

Let's check out the first 10 rows of the `pitching` table.

In [ ]:
SELECT * 
FROM pitching 
LIMIT 10;

We can also look at the first 10 rows of the `batting` table.

In [ ]:
SELECT * 
FROM batting 
LIMIT 10;

## Using the `players` table

We can use the playerid variable along with the `players` table to find the names of the players.

In [ ]:
SELECT b.namefirst, b.namelast, a.era, b.throws
FROM pitching a
LEFT JOIN players b
ON a.playerid = b.playerid
LIMIT 100;

## Examples of Using SQL Queries

Let's find the name of every player who has had more home runs than strikeouts in a single season.

In [ ]:
SELECT b.namefirst, b.namelast, a.yearid, a.hr, a.so
FROM batting a
LEFT JOIN players b
ON a.playerid = b.playerid
WHERE a.hr > a.so
LIMIT 100;

Looks like we might be getting a lot of people who only had a few homeruns and strikeouts, including possibly some weirdness associated with pre-1900 baseball. Let's try to limit it a little bit.

In [ ]:
SELECT b.namefirst, b.namelast, a.yearid, a.hr, a.so
FROM batting a
LEFT JOIN players b
WHERE a.hr > a.so AND a.ab > 400 AND a.yearid > 1900
LIMIT 100;